.project-card{
    background:white;
    padding:25px;
    margin-top:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.project{
    margin-top:20px;
}

.project h3{
    color:#2563eb;
}

.project li{
    margin:8px 0;
}